.ant-advanced-search-form {
  padding: 24px;
 // background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  margin-bottom: 5px;
}

[nz-form-label] {
  overflow: visible;
}

button {
  margin-left: 8px;
}

.btn{
  margin-top: 8px;
  margin-bottom: 5px;
}

.selected-row{
  background-color: #ffef8f !important;
}

// :host ::ng-deep {
//   // 斑马纹
//   .ant-table-tbody > tr:nth-child(even) {
//     background-color: #f9f9f9;
//   }
  
//   // Hover效果
//   .ant-table-tbody > tr:hover {
//     background-color: #e6f7ff;
    
//     td {
//       border-top: 1px solid #1890ff;
//       border-bottom: 1px solid #1890ff;
//     }
    
//     td:first-child {
//       border-left: 1px solid #1890ff;
//     }
    
//     td:last-child {
//       border-right: 1px solid #1890ff;
//     }
//   }
// }
.custom-table .ant-table-tbody > tr:hover > td {
  background-color: #e6f7ff; // 浅蓝色背景
  //box-shadow: inset 0 0 0 1px #1890ff; // 内边框
}
.item-edit{
  border: none;
}