<app-btns [btns]="btns" (clc)="btnClick($event)"></app-btns>

<app-forms #forms [form-cols]="formCols" [form-validate]="validateForm">
</app-forms>
<app-grids [data]="data" [isSelected]="isSelected" (selectData)="getSelected($event)"  [form-grids]="formGrids"
 [search-query] ="searchQuery" (nzQueryParamsFun)="nzQueryParamsFun($event)" (colDblClick)="gotoSetForm($event)" ></app-grids>

<ng-template #dictForm>
    <form nz-form>
        <nz-form-item>
            <nz-form-label [nzSpan]="5">模块</nz-form-label>
            <nz-form-control  [nzSpan]="12" >
                <nz-select
                        [(ngModel)]="dictItem.modelCode"
                        name="modelCode"
                        nzAllowClear
                        nzShowSearch
                        nzPlaceHolder="选择模块"
                        [nzOptions]="modelOptions"
                ></nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="5">键</nz-form-label>
            <nz-form-control  [nzSpan]="12" >
                <input nz-input [(ngModel)]="dictItem.dictKey" name="dictKey"  />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="5">值</nz-form-label>
            <nz-form-control  [nzSpan]="12" >
                <input nz-input [(ngModel)]="dictItem.dictValue" name="dictValue" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="5">顺序</nz-form-label>
            <nz-form-control  [nzSpan]="12" >
                <nz-input-number ngDefaultControl nz-input [(ngModel)]="dictItem.seq" name="seq" />
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-template>
