<app-form-report [commonObjs]="commonObjs" style="height: 100%;"></app-form-report>

<ng-template #sqlForm  let-drawerRef="drawerRef">
    <form nz-form [nzLayout]="'inline'">
        <nz-form-item>
            <nz-form-label>编号</nz-form-label>
            <nz-form-control   >
                <input nz-input [(ngModel)]="sqlItem.id" name="id" disabled />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label >名称</nz-form-label>
            <nz-form-control>
                <input nz-input [(ngModel)]="sqlItem.name" name="name"  />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <button nz-button nzType="primary" (click)="save()">保存</button>
        </nz-form-item>
        <!-- <nz-form-item>
            <button nz-button nzType="primary" (click)="publish()">发布</button>
        </nz-form-item>
        <nz-form-item>
            <button nz-button nzType="primary" (click)="unPublish()">取消发布</button>
        </nz-form-item> -->
    </form>
    <nz-code-editor class="editor" [(ngModel)]="this.sqlItem.sql"  [nzEditorOption]="{ language: 'xml',theme: 'vs-dark' }"></nz-code-editor>
</ng-template>