.logo {
  width: 48px;
  height: 60px;
  display: inline-block;
  background-size:100% 100%;
  background-image: url('../../assets/img/boluo.png');
  margin-top: 2px;
  vertical-align: top;
}



.sider-menu {
  height: calc(100vh - 64px);
  border-right: solid 1px lightgrey;
}

.inner-layout {
  position: relative;
  padding: 0 10px 4px;
  height: calc(100vh - 109.14px);
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  background: #fff;
  padding: 0;
  min-height: 280px;

}
nz-header{
 // background: linear-gradient(to right, rgb( 42, 55, 85), rgb( 40, 52, 77));
 // font-family: 'Arial', sans-serif;
 // font-size: 2.5rem;
 // font-weight: bold;
 // color: #ffffff;
 // text-align: center;
  //padding: 20px;
  //margin: 0 auto;
  //background: linear-gradient(135deg, #6a11cb, #2575fc);
  background: linear-gradient(-87.9418deg, rgb(128, 128, 255) 0%, rgb(20, 133, 254) 100%);
  transition: unset;
  display: flex;
  //border-radius: 15px;
  //box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  //display: inline-block;
  //position: relative;
  //overflow: hidden;
  .title{
    display: inline-block;
    vertical-align: top;
    // width: calc(100% - 150px);
    color: white;
    font-size: 28px;
    text-align: left;
    flex-grow: 1; /* 让这个元素自动填充剩余空间 */
  }
  .user-info {
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    width: 600px;
    color: #fff;
    text-align: right;
    &>div{
      display: inline-block;
      margin-left: 15px;
    }
    .logout{
      color: red;
      cursor: pointer;
    }
  }
}
// .ant-layout-header{
//   position: float;
// }


