//@import 'node_modules/ng-zorro-antd/resizable/style/entry.less';
.cdk-drag-preview{
    display: inline-flex;
    background-color: #fafafa;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 5px 5px -3px rgba(0, 0, 0, .14), 0 5px 5px -3px rgba(0, 0, 0, .12);
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
.nz-resizable-preview {
    border-width: 0;
    border-right-width: 1px;
  }

  nz-table{
    margin-top: 10px;
  }
// .drag-handle {
//     color: rgba(0, 0, 0, .22);
//     cursor: grab;
//     margin-left: 8px;
//     opacity: 0.5;
//     user-select: none;
// }
:host ::ng-deep {
  // 斑马纹
  .ant-table-tbody > tr:nth-child(even) {
    background-color: #f2f2f2;
  }
}
.drag-handle:hover {
    opacity: 1; /* 悬停时变明显 */
}
::ng-deep  .cdk-virtual-scroll-viewport {
    overflow-y: scroll !important;
    scrollbar-gutter: stable;
}
.nz-resizable-preview {
    border-width: 0;
    border-right-width: 1px;
}
@import 'node_modules/ng-zorro-antd/resizable/style/entry.less';