//@import 'node_modules/ng-zorro-antd/resizable/style/entry.less';
.cdk-drag-preview{
    display: inline-flex;
    background-color: #fafafa;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 5px 5px -3px rgba(0, 0, 0, .14), 0 5px 5px -3px rgba(0, 0, 0, .12);
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
.nz-resizable-preview {
    border-width: 0;
    border-right-width: 1px;
  }
  .formGrid-body{
    height: 100%; /* 固定高度 */
    display: flex;
    flex-direction: column;
    //nz-table{
    //  flex: 1; /* 关键属性 - 填充剩余空间 */
    //}
    // nz-pagination{
    //   //margin-right: 0;
    //   display: flex;
    //   justify-content: flex-end;
    // }
  }

:host ::ng-deep {
  // 斑马纹
  .ant-table-tbody > tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
}
:host ::ng-deep .ant-pagination {
  display: flex;
  justify-content: flex-end; /* 整体靠右 */
  ul{
    display: flex;
    .ant-pagination-total-text {
      order: 1;
      margin-left: 16px; /* 增加右边距 */
    }
  }

}

.drag-handle:hover {
    opacity: 1; /* 悬停时变明显 */
}
:host ::ng-deep  .cdk-virtual-scroll-viewport {
    overflow-y: scroll !important;
    scrollbar-gutter: stable;
}

/* 在你的 component.css 或者 global styles.css 中 */
:host ::ng-deep .ant-table-wrapper .ant-table table {
  border-collapse: collapse; /* 确保没有额外的空间 */
  border: 1px solid #d1d7dc; /* 设置边框宽度和颜色 */
}

:host ::ng-deep .ant-table-thead > tr > th,
:host ::ng-deep .ant-table-tbody > tr > td {
  border: 1px solid #d1d7dc; /* 同样设置表头和单元格的边框 */
}
.nz-resizable-preview {
    border-width: 0;
    border-right-width: 1px;
}
@import 'node_modules/ng-zorro-antd/resizable/style/entry.less';