<app-btns [btns]="btns" (clc)="btnClick($event)"></app-btns>

<app-forms #forms [form-cols]="formCols" [form-validate]="validateForm" (enter)="refresh()">
</app-forms>
<app-grids [data]="data" [isSelected]="isSelected" (selectData)="getSelected($event)"  [form-grids]="formGrids"
 [search-query] ="searchQuery" (nzQueryParamsFun)="nzQueryParamsFun($event)"  >
 <!-- <ng-template appSmartTemplate="_editForm" let-row>
    <a nz-button nzType="link" (click)="openModel('表单',col,row)">编辑表单</a>
      </ng-template>
      <ng-template appSmartTemplate="_editGrid" let-row>
        <a nz-button nzType="link" (click)="openModel('表格',col,row)">编辑表格</a>
      </ng-template>
      <ng-template appSmartTemplate="_delete" let-row>
        <a nz-button nzType="link" (click)="delete(row)" nzDanger>删除</a>
      </ng-template> -->
</app-grids>
