


<div class="print">
    <div class="print-header">
        <button nz-button nzType="primary">
            <span nz-icon nzType="search"></span>
            编辑
        </button>
        <button nz-button nzType="primary">
            <span nz-icon nzType="search"></span>
            保存
        </button>
        <button nz-button nzType="primary">
            <span nz-icon nzType="search"></span>
            导出
        </button>
    </div>
    <div  class="print-main">
        <div class="print-main-left" #tools>
            <div  name="circle"  draggable="true" style=" border-radius: 25px; "></div>
            <div  name="rect"   draggable="true"  ></div>
        </div>
        <div class="print-main-center" #leafer id="leafer">
<!--            <div   ></div>-->
        </div>
        <div class="print-main-data"></div>
    </div>
</div>
